@font-face {
    font-family: "VT323", monospace;
    src: url("./VT323-Regular.ttf");
}

.game {
    font-family: "VT323";
    width: 100vw;
    height: 100vh;
    background-image: url("./../res/bg1.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.dsScreen {
    width: 75vmin;
    height: 75vmin;
    background-image: url("./../res/ds.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topScreen {
    position: absolute;
    left: 27.56%;
    top: 7.92%;
    width: 44.22%;
    height: 33%;
    background-image: url("./../res/bg_herbe.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.bottomScreen {
    position: absolute;
    left: 27.56%;
    bottom: 8.75%;
    width: 44.22%;
    height: 33%;
}

.bottomScreen + #allowTouch {
    display: none;
}

.bottomScreen + #noTouch {
    display: block;
    position: absolute;
    left: 27.56%;
    bottom: 8.75%;
    width: 44.22%;
    height: 33%;
    background-color: green;
}

#description {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2px;
}

button {
    display: block;
    width: 80%;
    margin: 0.5em auto;
    border-radius: 20%;
    font-size: 0.75em;
}